.head {
  position: fixed;
  top:0;
  width: 100%;height: auto;
  height: 6.0625rem;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: 100;

}

.logo {
  position: relative;
  left: 3.94rem;
  top: 1.56rem;
  z-index: 2;width: 2rem; /* Adjust the logo size */
  height: 2rem;
}

.title {
  color: #fff;font-size: 1.5rem; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
@media screen and (min-width: 768px) {
    .logo {
      width: 3rem;
      height: 3rem;
    }
  
    .title {
      font-size: 2rem;
    }
  }